html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  font-family: 'Mansalva', cursive;
}

body {
  background-color: white;
  margin: 0;
  color: black;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
/* main is actually the business card */

main {
  background-color: whitesmoke;
  font-size: 2.5rem;
  text-align: center;
  width: 350px;
  height: 600px;
  
}

#contact {
  display: flex;
  
}

#status {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: lime;
  padding: 10px 20px 0 0;
  
}

img {
  border-radius: 50%;
  border:  solid rgba(243, 233, 233, 0.541) 3px;
  height: 125px;
}

#brand > p {
  font-style: italic;
}

.line {
  font-size: 10px;
}

#contact > p {
  display: flex;
  height: 60px;
  width: 50%; 
  align-items : center;
  justify-content: center;
}

#contact > p:first-child {
  background-color: lime;
}

#contact > p:last-child {
  background-color: green
}






















