html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  font-family: 'Mansalva', cursive;
}

body {
  background-color: white;
  margin: 0;
  color: black;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
/* main is actually the business card */

main {
  background-color: whitesmoke;
  font-size: 2.5rem;
  text-align: center;
  height: 390px;
}

#contact {
  display: flex;
  align-items: flex-end;
  
}

#name {
  
}

#status {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: lime;
  padding: 10px 20px 0 0;
  
}

img {
  border-radius: 50%;
  border:  solid rgba(243, 233, 233, 0.541) 3px;
  height: 125px;
}

#brand > p {
  font-style: italic;
}

.line {
  font-size: 10px;
}

#contact > p {
  display: flex;
  height: 60px;
  width: 50%; 
  align-items : center;
  justify-content: center;
}

#contact > p:first-child {
  background-color: lime;
}

#contact > p:last-child {
  background-color: green
}





@media only screen and (min-width: 900px) {
  main {
    display: grid;
    text-align: left;
    width: 720px;
    height: 410px;
    grid-template-columns: 40% 60%;
    background-color: whitesmoke;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "status name"
      "img occupation"
      "img brand"
      "contact offer";
  }
}

#status {
  text-align: left;
  padding: 10px 0 0 20px;
}

img {
  grid-area: img;
  margin: 0 auto;
}

#brand {
  display: inline;
}

#contact {
  grid-area: contact;
}


#brand > p {
  padding: 0 20px 0 8px;
  font-size: 1.4rem;
}

#offer {
  font-size: 1.4rem;
}

#name, #occupation, #brand, #offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}














